<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>

<h2>Flat Name:<%= @flat.name %></h2>
<br>
<h3>Flat Description<%= @flat.description %></h3>
<p>Flat Price<%= @flat.price %></p>
<p>Flat Location<%= @flat.location %></p>


