<div class="container">
  <% flash.each do |type, msg| %>
    <div class="alert alert-pet alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<div style="background-image: url('https://res.cloudinary.com/rafxss/image/upload/v1599566629/landing_oqzaqu.png'); background-repeat: no-repeat; background-size: cover; background-position: right top;">
  <div class="container">
    <div style="padding: 150px 100px 150px;">
      <h1 style="align-content: center;">Welcome to Petbnb</h1>
      <p class="mb-3">Plan a different kind of getaway to uncover <br> the hidden gems near you.</p>
      <a href="/flats" class="btn my-2 my-sm-0 btn-pet">Discover</a>
      <a href="/flats/new" class="btn my-2 my-sm-0 btn-pet-outline">Post a dog's house</a>

    </div>
  </div>
</div>
<div class="container">
  <h2 class="mt-5 mb-5 text-center">🐶 Discover our places! 🐶</h2>
   <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 p-3">
        <a href="/flats?location=seville">
        <div class="card text-white" style="background-color: black; border: 0; border-radius: 15px;">
          <img class="card-img" src="https://source.unsplash.com/1200x900/?seville" style="border-radius: 15px; opacity: 0.6;" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h3 class="card-title m-0">Seville</h3>
          </div>
        </div>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 p-3">
        <a href="/flats?location=barcelona">
        <div class="card text-white" style="background-color: black; border: 0; border-radius: 15px;">
          <img class="card-img" src="https://source.unsplash.com/1200x900/?barcelona" style="border-radius: 15px; opacity: 0.6;" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h3 class="card-title m-0">Barcelona</h3>
          </div>
        </div>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 p-3">
        <a href="/flats?location=madrid">
        <div class="card text-white" style="background-color: black; border: 0; border-radius: 15px;">
          <img class="card-img" src="https://source.unsplash.com/1200x900/?madrid" style="border-radius: 15px; opacity: 0.6;" alt="Card image">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h3 class="card-title m-0">Madrid</h3>
          </div>
        </div>
        </a>
      </div>
    </div>
</div>
