.btn-pet {
  background-color: #FF5A5F;
  border-color: #FF5A5F;
  color: #fff;
}

.btn-pet:hover {
  background-color: #e25154;
  border-color: #e25154;
    color: #fff;
}

.btn-pet-outline {
  border-color: #FF5A5F;
  color: #FF5A5F;
}

.btn-pet-outline:hover {
  border-color: #e25154;
    color: #e25154;
}

