// .show {
//   background-color: #e3eaf2;
// }

.product-box {

  margin-top: 20px;
  margin-bottom: 10px;

  background-color: white;
  padding: 20px;
  border-radius: 10px;

  border: 1px solid #8c8c8c1f;

}

.product-box p {
  opacity: 0.7;
}


.form-group p {
  margin-left: 40px;
}

#book {

}


.btn-delete-flat {
    color: #dc3545;
    background-color: white;
    border-color: #dc3545;
}

.btn-delete-flat:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

// .book-form {
//   position: relative;
// }


